{{>partial_header}}
{{#models}}
{{#model}}
#![allow(unused_imports)]
{{#description}}
/// {{{classname}}} : {{{description}}}
{{/description}}

use serde_json::Value;
use bigdecimal::BigDecimal;
use chrono::{NaiveDateTime, DateTime, FixedOffset, Utc};

use crate::models::*;
//use crate::date_serializer;
//use crate::datetime_serializer;

{{^isEnum}}
#[derive(Debug, Serialize, Deserialize, Clone)]
pub struct {{classname}} {
{{#vars}}
  {{#dataFormat}}
  {{#example}}
  {{/example}}
  {{/dataFormat}}
  #[serde(rename = "{{{baseName}}}")]
  {{name}}: {{^required}}Option<{{/required}}{{{datatype}}}{{^required}}>{{/required}}{{#hasMore}},{{/hasMore}} {{#example}} // {{{example}}} {{/example}}
{{/vars}}
}

impl {{classname}} {
  pub fn new({{#requiredVars}}{{name}}: {{{datatype}}}, {{/requiredVars}}) -> {{classname}} {
    {{classname}} {
      {{#vars}}
      {{name}}: {{#required}}{{name}}{{/required}}{{^required}}{{#isListContainer}}None{{/isListContainer}}{{#isMapContainer}}None{{/isMapContainer}}{{^isContainer}}None{{/isContainer}}{{/required}}{{#hasMore}},{{/hasMore}}
      {{/vars}}
    }
  }

  {{#vars}}
  pub fn set_{{name}}(&mut self, {{name}}: {{{datatype}}}) {
    self.{{name}} = {{^required}}Some({{name}}){{/required}}{{#required}}{{name}}{{/required}};
  }

  pub fn with_{{name}}(mut self, {{name}}: {{{datatype}}}) -> {{classname}} {
    self.{{name}} = {{^required}}Some({{name}}){{/required}}{{#required}}{{name}}{{/required}};
    self
  }

  pub fn {{name}}(&self) -> {{^required}}Option<{{/required}}&{{{datatype}}}{{^required}}>{{/required}} {
    {{#required}}&{{/required}}self.{{name}}{{^required}}.as_ref(){{/required}}
  }

  {{^required}}
  pub fn reset_{{name}}(&mut self) {
    self.{{name}} = None;
  }
  {{/required}}

  {{/vars}}
}
{{/isEnum}}
{{#isEnum}}
#[derive(Debug, Serialize, Deserialize, Clone, PartialEq, Eq, Hash)]
pub enum {{name}} {
  {{#allowableValues}}
  {{#enumVars}}
  #[serde(rename(serialize = "{{{value}}}"))]
  #[serde(alias = "{{{value}}}")]
  {{name}},
  {{/enumVars}}
  {{/allowableValues}}
}
impl ToString for {{name}} {
  fn to_string(&self) -> String {
      format!("{:?}", self)
  }
}
{{/isEnum}}


{{/model}}
{{/models}}
